<launch> 

  <!-- Motor node -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />

  <!-- Ultrasonic sensor node -->
  <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic.launch" />

  <!-- USB Camera node -->
  <include file="$(find usb_cam)/launch/xycar_cam.launch" />

  <!-- My Driver node -->
  <node name="driver" pkg="track_drive" type="track_drive_ame.py" output="screen" />
  
</launch>
